<html>
<head>
</head>
<body>
  <h1> Hello! This is an embedded ruby file.</h1>
  <p>
    My name is <%=@name%>
  </p>
 
  
<p>I'm going to pick a number from 1 to 100</p>
<p><%=@rand=rand(1..100)%></p>
<p> The random number I picked is <% if @rand%2==0%></p>
 <p> even </p>
  <%else%>
  <p>odd </p>
  <%end%>
<h1> Add 2 numbers together using two variables that you define in your controller</h1>
 <p>
   <%= @x + @y %>
   </p>
   <p> My hometown is <%= @hometown %> </p>
   <h1>
     <% wall_post= ["HI I ROCK","HBD","Kiki challenge"]%>
   </h1>
</body>
</html>
